.wrapper {

  .day {
    padding: 7px;
    text-align: center;
    cursor: pointer;
    border: 1px solid antiquewhite;

    &::hover {
      background-color: red;
    }

    &--selected {
      background-color: lemonchiffon;
    }
  }
}
