.wrapper {
  font-size: 14px;
  font-weight: 700;

  .button {
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    border: none;
  }

  .list {
    margin: 0;
    padding: 0;

    .item {
      list-style: none;
    }
  }
}
