@import "../../Sass/utils/mixins";

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 500px;

  .navbar {
    display: flex;
    gap: 20px;
  }

  @include squareSelect()
}
