.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  margin: 0.5em 1em;
  cursor: pointer;

  .text {
    margin: 0;
    user-select: none;
  }

  .button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    background-color: transparent;
  }

  .icon {
    width: 8px;

    &Down {
      position: absolute;
      top: 8px;
    }
  }
}
