.container {
  display: flex;
  justify-content: space-between;
  gap: 0.33em;
  width: 80%;
  margin-bottom: 1em;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      font-weight: 400;
      border: 2px solid #d6d6d6;
      border-radius: 5px;
      padding: 0;
    }
  }

  .entries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.33em;
    width: max-content;
  }

  .searching {
    display: flex;
    justify-content: space-between;
    gap: 0.33em;
  }
}

.table {
  border-spacing: 0;
  border-collapse: separate;
  width: 90%;

  .theaders {
    margin-bottom: 1em;
  }

  .row {
    background-color: #f9f9f9;
  }

  .data {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 8px 10px;

    &Firstname {
      background-color: #f1f1f1;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 80%;

  .info {
    margin: 0;
  }

  .wrapper {
    display: flex;
    gap: 1em;
  }

  .changePage,
  .navigator,
  .disable {
    padding: 1em;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #111;
      border-radius: 5px;
      background: linear-gradient(to bottom, #585858 0%, #111 100%);
      color: white;
    }
  }

  .ellipsis {
    padding: 1em;
    vertical-align: middle;
  }

  .active {
    color: #333;
    border-radius: 5px;
    border: 1px solid #979797;
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
    pointer-events: none;
  }

  .disable {
    pointer-events: none;
  }
}
